@import '../../../../scss/variables';

:host {
  display: block;
  width: 400px;
  position: relative;
  padding-left: 45px;

  .search-input {
    font-size: 18px;
    width: 100%;
    background: $clr-white;
    border-radius: 5px;
    padding: 10px 40px 10px 10px;
  }

  .search-button {
    color: $purple-dark;
    position: absolute;
    top: 0;
    right: 0;

    &--refresh {
      color: $clr-white;
      right: auto;
      left: 0;
    }
  }
}
